name: Release to PyPi

on:
  workflow_dispatch:
  push:
    tags:        
      - '*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}

    steps:
    - uses: actions/checkout@v4

    - name: Install Python
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3 \
          python3-pip \
          python3-dev

    - name: Install Python dependencies
      run: |
        python3 -m pip install twine build
    
    - name: Release
      run: |
        make release